// Colors
// $grey-primary: #ddd;
$grey-bold : #555555;
$grey-regular : #f3f3f3;

$grey-semibold : #1e1e1e;
$grey-light : #999999;

$red-bold : #790000;

$blue: #004a80;



// Colors
$red-primary: #d22530;
$red-title: #ed1c24;
$grey-color: #3d3d3d;
$grey-light : #dadada;


//mỹ phẩm tâm lan
// Colors
$brand-primary: #27ae60;