// Colors
// $grey-primary: #ddd;
$grey-bold : #555555;
$grey-regular : #f3f3f3;

$grey-semibold : #1e1e1e;
$grey-light : #999999;

$red-bold : #790000;

$blue: #004a80;



// Colors
$red-primary: #d22530;
$red-title: #ed1c24;
$grey-color: #3d3d3d;
$grey-light : #dadada;


//mỹ phẩm tâm lan
// Colors
$brand-primary: #27ae60;

// Colors
$blue: #1e70b1;
$green: #00783f;
$hover-green: #00a651;
$black: #cccccc;

//thảo dược
$color_green: #42902d;
$color_red: #ed1c24;
$color_white: #fff;
$color_green_plus: #39b54a;
$color_yellow: #f7941d;
$color_yellow_: #fbfab8;
$color_black: #000000;
$color_gray: #f2f2f2;
$border_table: #b7b7b7;

/* romanticsails */
$violet: #92278f;
$yellow: #fff200;
$grow: #A36209;

$grow2: #8e7426;

/* font size */
$bodyFontSize: 14px;

// Colors
$brand-primary: #27ae60;

//colors for footer
$footer-color: #363636;