//menu pc
.vicoders_menu_menu_7 {
    background: $green none repeat scroll 0 0;
    height: 46px;
    position: relative;
    display: inline-block;
    width: 100%;

    ul {
        list-style: outside none none;
        padding: 0;
        margin: 0;
        li {
            position: relative;

            &:hover {
                background: $hover-green none repeat scroll 0 0;
                @include transition( all 0.5s ease 0s);

                >.sub-menu {
                    @include transform( scale(1, 1));
                }
            }

            a {
                color: #ffffff;
                display: block;
                font-weight: bold;
                padding: 13px 32px;
                position: relative;
                white-space: nowrap;
            }
        }
        .current-menu-item>a {
            background: $hover-green none repeat scroll 0 0;
        }
    }

    ul {

        li {
            float: left;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;

            .sub-menu {
                background: $green none repeat scroll 0 0;
                left: -1px;
                position: absolute;
                top: 100%;
                z-index: 2222;
                min-width: 250%;
                @include transform( scale(0, 1));
                @include transform-origin( 0 0 0);
                @include transition( all 400ms ease 0s);

                .sub-menu {
                    left: 100%;
                    top: 0;
                }
            }

            &:first-child a {
                padding: 14px 13px 11px 13px;

                .fa {
                    font-size: 18px;
                }
            }
        }
    }
}