.vicoders_menu_menu_2 {
    @extend display-flex;
    position: relative;
    background: #383838;
    .menu_col {
        position: relative;
        display: inline-block;
        width: 100%; // margin-bottom: -4px;
        ul {
            @extend list-type-ulli;
            li {
                a {
                    color: #e8e8e8;
                    display: block;
                    font-size: 16px;
                    padding: 20px;
                    position: relative;
                    text-transform: uppercase;
                    white-space: nowrap;
                    position: relative;
                }
                &:hover {
                    .sub-menu {
                        display: block;
                        @include animation( 0.5s ease 0s normal none 1 running fadeInUp);
                    }
                    a {
                        &:after {
                            display: block;
                        }
                    }
                }
            }
            .current_page_item,
            .current-menu-item {
                a {
                    &:after {
                        display: block;
                    }
                }
            }
        }
        >div {
            >ul {
                >li {
                    float: left;
                    >a {
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            @include transform( translateX(-50%));
                            border-right: 8px solid transparent;
                            border-left: 8px solid transparent;
                            border-bottom: 11px solid #fff;
                            display: none;
                            z-index: 9;
                        }
                    }
                    .sub-menu {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        background: #fff;
                        padding: 20px 10px;
                        @extend box-shadow-four;
                        z-index: 8;
                        display: none;
                        @include transition( all 400ms ease 0s);
                        li {
                            width: auto;
                            float: left;
                            position: relative;
                            padding-left: 20px;
                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3) {
                                float: left;
                                width: 25%;
                                padding: 0 10px;
                                a {
                                    img {
                                        display: block;
                                        padding: 0;
                                    }
                                }
                                span {
                                    display: block;
                                    margin: 10px 0;
                                }
                                &:after {
                                    display: none;
                                }
                            }
                            a {
                                text-transform: none;
                                padding: 0;
                                color: #000;
                                img {
                                    display: none;
                                }
                            }
                            &:after {
                                content: "";
                                position: absolute;
                                left: 7px;
                                top: 50%;
                                padding: 4px;
                                background: #000;
                                @include transform( translateY(-50%));
                                @include border-radius( 50%);
                            }
                        }
                    }
                }
            }
        }
    }
    .search-box {
        display: none;
    }
}