#vicoders_menu_mobile_menu_5 {
    .mobile_menu_primary {
        .mean-bar {
            background: #ea3535;

            .meanmenu-reveal {
                left: 0px !important;
                right: auto !important;
            }

            .mean-nav {
                #menu-menu-primary {
                    li {
                        background: #ea3535;
                    }

                    a.mean-expand:hover {
                        background: rgba(255, 255, 255, 0.1);
                    }
                }

                #menu-menu_en {
                    li {
                        background: #ea3535;
                    }

                    a.mean-expand:hover {
                        background: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }
}