//menu mobile
#vicoders_menu_mobile_menu_7 .mean-container {
    position: relative;
}
#vicoders_menu_mobile_menu_7 .mean-container .mean-bar {
    background: none;
    left: 0;
    padding: 0 0 4px;
    position: absolute;
    top: 0;
    z-index: 9;
    max-width: 370px;
}
#vicoders_menu_mobile_menu_7 .mean-container .mean-bar .meanmenu-reveal {
    background: $hover-green;
    left: 0 !important;
    top: 0;
}
#vicoders_menu_mobile_menu_7 .mean-container .mean-bar .mean-nav {
    background: $green none repeat scroll 0 0 !important;
    margin-top: 46px;
}
#vicoders_menu_mobile_menu_7 .mean-container .mean-nav ul li a {
    text-transform: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
#vicoders_menu_mobile_menu_7 .mean-container .mean-nav ul li .mean-expand {
    height: 16px;
    line-height: 16px;
}
#vicoders_menu_mobile_menu_7 .mean-container .mean-nav ul li .mean-expand:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}