#vicoders_menu_mobile_menu_8 {
    .mean-container {
        .mean-bar {
            background: none;
            left: 0;
            padding: 0;
            position: absolute;
            top: 2px;
            z-index: 9;
            .meanmenu-reveal {
                background: #333;
                border: 1px solid rgba(255, 255, 255, 0.5);
                right: 15px !important;
                left: 0;
                top: 0;
                height: 20px;
                line-height: 20px;
                width: 28px;
                padding: 10px 11px 10px;
            }
            .mean-nav {
                background: #333;
                margin-top: 43px;
                .sub-menu {
                    // max-height: 170px;
                    // overflow: auto;
                }
                ul {
                    li {
                        a {
                            padding-bottom: 11px;
                            padding-top: 11px;
                        }
                        .sub-menu {
                            li {
                                a {
                                    text-transform: none;
                                }
                            }
                        }
                        .mean-expand {
                            height: 19px;
                            right: 15px;
                            line-height: 19px;
                            border-right: 1px solid rgba(255, 255, 255, .4)!important;
                            &:hover {
                                background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}